<h1>
	{{ post.title }}
</h1>
<small> By: {{ post.author }} </small></br>
{{ post.body }}

<h2>
	<ul class="label">
		<li>{{ post.category }}</li>
	</ul>
	<li>{{ post.body }}</li>
	<li>{{ post.author }}</li>
</h2>

<div>
	{% block title %}
		{{ object.title }}
	{% endblock %}

	<h2>Overview</h2>
		<a href="{% url object.slug %}">
		{{ subject.title }}</a>
	</br>
	{{ object.overview }}

	 <a href="{% url 'update_post' post.pk %}">(Редактировать пост)</a>
<br/>
	<a href="{% url 'delete_post' post.pk %}"> (Удалить пост)</a>
<br/>

</div>

<h1>Комментарии</h1>
<br/>
{% if not post.comments.all %}
	Здесь ещё никто не оставил своей комментарий<a href="{% url 'add_comment' post.pk %}">Желаете добавить?</a>
{% else %}

<a href="{% url 'add_comment' post.pk %}">Добавить кмментарий</a>
<br/><br/>

	{% for comment in post.comments.all %}
		<strong>

			{{ comment.date_added }}
		</strong>
		<br/>
		{{ comment.text }}
		<br/><br/>


	{% endfor %}
		<a href="{% url 'add_comment' post.pk %}">Добавить коммментарий</a>
{% endif %}
<br/>



<br/><br/>